/******************************************
    Version: 1.0
/****************************************** */
.skillsGrid{
  display: grid;
  height: 10vh;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 5%;
  align-content: center;
}
.skill{
  border-radius: 10px;
}
#sk1 {
  display: block;
  width: 100%;
}
.testi-comment{
  border-bottom: 1px dashed black;
}

@media (max-width: 767px) {
	#mainNav {
		background-color: #333333;
	}
	#imgBrand {
	  margin-top: -15%;
	}
	#navbarResponsive {
	  margin-top: 5%;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
		height: 2vh;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.skillsGrid{
  grid-template-columns: auto auto auto auto;
  height: 50vh;
}
.contact_form {
  background-image: url('/nav-bg.jpg');
  background-size: cover;
}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border: none;
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	
}